[submodule "src/libraries/SdFat"]
	path = take1/src/arduino/libraries/SdFat
	url = https://github.com/greiman/SdFat.git
[submodule "src/arduino/libraries/TinyGPSPlus"]
	path = take1/src/arduino/libraries/TinyGPSPlus
	url = https://github.com/mikalhart/TinyGPSPlus.git
[submodule "src/arduino/libraries/SafetyPin"]
	path = take1/src/arduino/libraries/SafetyPin
	url = git@github.com:csosborn/SafetyPin.git
[submodule "hw/Eagle Libraries/INA219"]
	path = take1/hw/Eagle Libraries/INA219
	url = https://github.com/Igor-Misic/INA219.git
[submodule "src/arduino/libraries/Adafruit_INA219"]
	path = take1/src/arduino/libraries/Adafruit_INA219
	url = https://github.com/adafruit/Adafruit_INA219.git
[submodule "hw/Eagle Libraries/SparkFun-Eagle-Libraries"]
	path = take1/hw/Eagle Libraries/SparkFun-Eagle-Libraries
	url = https://github.com/sparkfun/SparkFun-Eagle-Libraries.git
[submodule "src/arduino/libraries/Adafruit_FXOS8700"]
	path = take1/src/arduino/libraries/Adafruit_FXOS8700
	url = https://github.com/adafruit/Adafruit_FXOS8700.git
[submodule "src/arduino/libraries/Adafruit_FXAS21002C"]
	path = take1/src/arduino/libraries/Adafruit_FXAS21002C
	url = https://github.com/adafruit/Adafruit_FXAS21002C.git
[submodule "src/arduino/libraries/Adafruit_Sensor"]
	path = take1/src/arduino/libraries/Adafruit_Sensor
	url = https://github.com/adafruit/Adafruit_Sensor.git
[submodule "src/arduino/libraries/Adafruit_AHRS"]
	path = take1/src/arduino/libraries/Adafruit_AHRS
	url = https://github.com/adafruit/Adafruit_AHRS.git
[submodule "src/micro/external/micropython"]
	path = src/micro/external/micropython
	url = https://github.com/micropython/micropython.git
[submodule "src/micro/external/micropython-ulab"]
	path = src/micro/external/micropython-ulab
	url = https://github.com/v923z/micropython-ulab
