[submodule "src/libraries/SdFat"]
	path = src/arduino/libraries/SdFat
	url = https://github.com/greiman/SdFat.git
[submodule "src/arduino/libraries/TinyGPSPlus"]
	path = src/arduino/libraries/TinyGPSPlus
	url = https://github.com/mikalhart/TinyGPSPlus.git
[submodule "src/arduino/libraries/SafetyPin"]
	path = src/arduino/libraries/SafetyPin
	url = git@github.com:csosborn/SafetyPin.git
